*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    
}
h2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 10px 20px;

}
p{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
        
}
li{
   display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px; 
    padding: 10px 20px;
    background-color: rgb(52, 52, 65);
}
.container{
     background-color: rgb(25, 17, 44);
     color: #ffff;
     padding: 10px 20px;
     width: 50%;
     text-align: center;
     justify-content: center;
     align-items: center;
     box-sizing: inherit;
     border-radius: 15px;
     
}
.button{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    background-color: seagreen;
    padding: 2px;
    border: none;
    border-radius: 10px;
    margin-left: 120px;
    margin-top: 30px;
    font-size: 20px;

}
.see{
        display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    background-color: seagreen;
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 30px;
    font-size: 20px;

}